/* content */
.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: var(--md);
    height: 100%;

}

.content .title {
    color: var(--primary);
    font-weight: 600;
}

.ad-slider {
    display: flex;
    min-height: 40%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.ad-slider .slide {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    border-radius: 15px;
    padding: var(--md);
}

.ad-slider .slide img {
    width: 200%;
    height: 165%;
    object-fit: contain;
    position: absolute;
    top: 0%;
    left: -50%;
}

.ad-slider .slide::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;

}

.slide__body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    z-index: 10;
    padding: var(--lg) 0;
    height: 100%;
    justify-content: space-between;
    width: 40%;
}

.slide__btn {
    width: fit-content;
    padding: var(--sm) var(--md);
    background: var(--primary);
    border-radius: var(--md);
    border: none;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.slide__btn:hover {
    background: var(--primary-light-cast);
}

.slide__slider {
    display: flex;
    gap: 5px;
}

.slide__slider .slider {
    width: var(--sm);
    height: 5px;
    border-radius: 15px;
    background: var(--secondary-lighter);
}

.slide__slider .slider--primary {
    background: var(--primary-light);
}

.slide__slider .slider.active {
    background: var(--secondary);
    width: var(--xl);
}

.slide__slider .slider--primary.active {
    background: var(--primary);
}

.popular-games {
    display: flex;
    flex-direction: column;
    gap: var(--md);
    min-height: 25%;
}

.popular-games__head {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.popular-games__body {
    display: flex;
    gap: var(--md);
    justify-content: space-between;
}

.popular-games__card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: var(--sm);
}

.popular-games__card__img {
    width: 100%;
    height: 15vh;
    border-radius: 15px;
    overflow: hidden;
}

.popular-games__card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-games__card__info {
    display: flex;
    gap: var(--xs);
    justify-content: space-between;
    align-items: center;
}

.smaller {
    font-size: var(--sm);
}

.card__btn {
    padding: 5px var(--xs);
    background: var(--primary);
    border-radius: 8px;
}

.library-accessory__container {
    display: flex;
    gap: var(--md);
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 32%;
}

.library,
.accessories {
    width: 67%;
    display: flex;
    flex-direction: column;
    background: var(--primary);
    border-top-left-radius: var(--lg);
    border-top-right-radius: var(--lg);
    padding: var(--md);
    gap: var(--md);
}

.accessories {
    width: 30%;
    gap: var(--lg);
}

.library-accessory__head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: var(--md);
}

.library-accessory__head h4,
span {
    font-weight: 500;
    color: white;
}

.library__card {
    display: flex;
    gap: var(--md);
}

.library__card__img {
    width: var(--4xl);
    height: var(--4xl);
    overflow: hidden;
    border-radius: 15px;
}

.library__card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.library__card__info {
    display: flex;
    gap: var(--xs);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card__btn--secondary {
    background: var(--secondary);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--xs) var(--md);
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}


.card__btn--secondary:hover {
    background: var(--secondary-light);
}

.accessories__card {
    background: var(--primary-light-cast);
    border-radius: 15px;
    position: relative;
}

.accessories__card--title {
    padding: var(--lg);
    font-weight: 500;
}

.accessories__card__btn {
    background: var(--light);
    border: none;
    padding: var(--sm);
    border-top-left-radius: var(--base);
    border-bottom-right-radius: var(--base);
    width: fit-content;
    float: right;
    cursor: pointer;
}

.accessories__card__img {
    position: absolute;
    width: calc(1.65 * var(--4xl));
    left: -6%;
    bottom: -16%;
    transform: rotate(-20deg);
}

/* content Ends */