@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

:root {
    --primary: #45318C;
    --primary-light: #8F78DD;
    --secondary: #D83F87;
    --light: #CCBFFE;
    --primary-light-cast: #644FAF;
    --2xs: 0.35rem;
    --xs: 0.5rem;
    --sm: 0.75rem;
    --base: 1rem;
    --lg: 1.25rem;
    --xl: 1.5rem;
    --2xl: 2rem;
    --3xl: 2.5rem;
    --4xl: 3rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--light);
    width: 100vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    gap: 1.5rem;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "header header header header header header"
        "categories content content content content chat"
        "categories content content content content chat"
        "categories content content content content chat"
        "favourites content content content content chat"
        "favourites content content content content chat"
        "favourites content content content content chat"
        "favourites content content content content chat";

}